.navbar {
  background-color: rgb(190, 206, 99);
  grid-area: navbar;
}

.links {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: #8d2b01;
  cursor: pointer;
}